In [4]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import os

In [33]:
# Set the data folder path
results_folder = r'D:\TECH HUB\CODING\SQL_Project_Data_Job_Analysis\project_sql\query_results'

# Load all the query results from csv files
results_dict = {} 
print("Files in the folder")
print("-"*20)
for idx, filename in enumerate(os.listdir(results_folder), start=1):
    print(filename)
    file_path = os.path.join(results_folder, filename)
    results_dict[idx] = pd.read_csv(file_path)

Files in the folder
--------------------
1_most_in_demand_jobs.csv
2_jobs_requiring_degree.csv
3_top_demanded_skills.csv

## Q1. What are the most in-demand data jobs in Poland?

In [23]:
results_dict[1]

                    position  job_posting_count
0              Data Engineer                289
1               Data Analyst                215
2             Data Scientist                123
3       Senior Data Engineer                114
4          Software Engineer                 96
5           Business Analyst                 62
6  Machine Learning Engineer                 39
7        Senior Data Analyst                 37
8      Senior Data Scientist                 30
9             Cloud Engineer                 14

## Q2. What are the positions that require a degree most often?

## Q3. What are the most in-demand skills for Data Analysts vs Data Scientists vs Data Engineers?